.text-box h3:first-child {
    color: pink;
}

h3:last-child {
    color: green;
}

#greycol {
    color: gray;
}

#greycol~div>p {
    color: red;
}

div~h3~p {
    color: yellow;
}

div~h3+p {
    color: green;
}


.div:hover {
    color: red;
}

.h1:focus {
    color: deeppink;
}

.h2:focus {
    color: cyan;
}

.h3:focus {
    color: goldd;
}

.h3:link {
    background-color: black;
}

.h4:visited {
    color: cyan;
}

.h4:visited {
    background-color: lime;
}

.h5:active {
    background-color: black;
}



.li1:nth-child(3n) {
    color: blueviolet;
}

.li1:nth-child(n+30) {
    color: gold;
}

.li1:nth-child(odd) {
    font-size: 20px;
}

.li1:nth-child(even) {
    background-color: green;
}

.li1:last-child {
    background-color: black;
}